<div class="d-flex align-items-center justify-content-between mb-1">
  <h3>Recepty</h3>
  <a routerLink="/recepty/add" class="btn btn-primary fw-bold primary">+</a>
</div>

<div *ngFor="let category of getCategories()">
  <h5 class="pb-2 ps-0">{{ category }}</h5>
  <ul class="ps-0">
    <li *ngFor="let type of getTypes(category)">
      <h6 *ngIf="type !== 'null'">{{ type }}</h6>
      <ul class="p-0 ps-md-4 pb-2">
        <li *ngFor="let recept of groupedRecepty[category][type]">
          {{ recept.title }} - na {{ recept.days }}
          {{ recept.days > 1 ? "dni" : "deň" }}
        </li>
      </ul>
    </li>
  </ul>
</div>
